# Neon PostgreSQL Connection URL
DATABASE_URL=postgresql://neondb_owner:xxxxxx@ep-xxxxxx.ap-southeast-1.aws.neon.tech/neondb?sslmode=require

# JWT Secret for Auth sessions
JWT_SECRET=supersecretjwtkey123!
